#example ul {
  margin: 100px 0;
}

#example ul li {
  color: #666;
  float: left;
  font-size: 20px;
  margin: 0 8px 0 0;
}

#example ul li:after {
  content: "/";
  margin: 0 0 0 8px;
}

#example ul li:last-child:after {
  content: "";
}